@tailwind base;
@tailwind components;
@tailwind utilities;

/* .curly-bg-img {
  background-image: url("./images/bg-curvy-light-mode.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
} */
